<div class="jumbotron" id="main"> 
  <h1>Share your travel experience here.</h1>
  <h2>Sign up to post up your latest journey!</h2>
  <div class="mainBtn" align="center"><%= link_to "Sign up for free!", register_path ,  class:"btn btn-lg btn-success" %></div>
</div>
<%# <%=link_to(image_tag("12roots-logo.png",:size => "209x50", :alt=> "12roots"),
 {:controller=>"pages", :action=>"home"}, :title=>"Return Home", :class=>"logo") %> 

