<header class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "TravelGram", root_path, class:"navbar-brand", id:"logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Journeys",journeys_path, class:"item", id:"" %></li> 
      <li> <%= link_to "Post now", new_journey_path, class:"item", id:"" %></li>
      <li> <%= link_to "My Page","", class:"item", id:"" %></li>
      <li class="navspacer"></li>
    </ul>
  </div>
</header>